.posts-outer-div
{
    background-color: #2c2b2b;
    padding: 10px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 5%;
    box-shadow:  2px white;
    max-width: 60vw;
    min-width: 375px;
}
.posts-title
{
    font-size: 1.5em;
    margin-left: 10px;
    text-transform: capitalize;

}
.posts-text
{
    font-size: 1em;
    margin-left: 10px;
    font-family: 'Inter', sans-serif;
    

}

.posts-button
{
    position: relative;
    background-color: rgba(201, 201, 201, 0.268);
    color: rgb(210, 72, 72);
    border-radius: 20%;
    border-color: white;
    font-size: 0.8em;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.posts-title-button-div
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}