.card-users {
    padding: 5px;
    margin: 5px;
}


.card-users-title {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    

}

.card-users-title {
    font-weight: bold;
    margin-left: 10px;
    text-transform: capitalize;
    overflow: hidden;

}
.card-users-title-username {
    max-width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 2em;
    
}

.card-users-title-time {
    font-size: 0.75em;
    color: grey;
}