.menu-div
{
    background-color: #282c34;
    color: #ddd;
    border: #45a049 solid 1px;
    display: flex;
    justify-content: center;
    width: 50%;
    box-shadow: 0px 0px 10px 5px #ccc;
}


.nav-link.active
{
    color: #282c34 !important;

}
.nav-link
{
    color: orange !important;
    font-size: 1.5em;
}

body{
    background-image: linear-gradient(to top,#282c34 0,#155ceb 100%) !important; /* override background image gradient w/ flat color */
}

.topdiv
{
    height: 100vh;
    width: 100vw;
    display: block;
    justify-content: center;
    overflow: hidden;
    color: white;
    flex-direction: column;
    min-width: 375px;
}

.topdiv-sub1
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    min-width: 375px;
    height: 100%;
    margin: auto;
    overflow: hidden;
    border: #45a049 solid 1px;

}
.outer-dashboard-div
{
    border: #45a049 solid 1px;
    height: 100%;
    width: 100%;
    min-width: 375px;
}